
<div class="container-fluid">
  <h3>GFS Upload CSV File</h3>

  <input
    type="file"
    name="files"
    class="form-control"
    #uploads
    (change)="onChange(uploads.files)"
    multiple
    value="process"
  />

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Dato</th>
          <th>RegNr</th>
          <th>regnskabstype</th>
          <th>dkkbass</th>
          <th>skema_id</th>
          <th>skemarakke</th>
          <th>valutakod</th>
          <th>ldkd</th>
          <th>kngr</th>
          <th>kngr_typ</th>
          <th>sum_rgopid</th>
          <th>opdater_lev</th>
          <th>leveran_kor</th>
          <th>leveran_type</th>
          <th>saldo</th>
          <th>Tekst</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of dataList">
          <td contenteditable="true">{{ record.Dato }}</td>
          <td contenteditable="true">{{ record.dkkbass }}</td>
          <td contenteditable="true">{{ record.regnskabstype }}</td>
          <td contenteditable="true">{{ record.dkkbass }}</td>
          <td contenteditable="true">{{ record.skema_id }}</td>
          <td contenteditable="true">{{ record.skemarakke }}</td>
          <td contenteditable="true" [ngStyle]="record.errors.length > 0 && {'background-color': 'red'}">{{ record.valutakod }}</td>
          <td contenteditable="true">{{ record.ldkd }}</td>
          <td contenteditable="true">{{ record.kngr }}</td>
          <td contenteditable="true">{{ record.kngr_typ }}</td>
          <td contenteditable="true">{{ record.sum_rgopid }}</td>
          <td contenteditable="true">{{ record.opdater_lev }}</td>
          <td contenteditable="true">{{ record.leveran_kor }}</td>
          <td contenteditable="true">{{ record.leveran_type }}</td>
          <td contenteditable="true">{{ record.saldo }}</td>
          <td contenteditable="true">{{ record.Tekst }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- https://stackblitz.com/edit/angular-csv-parser?file=app%2Fapp.component.html -->
</div>
