<div class="container ">
  <h1 class="text-center" style="margin-top:150px;">
    Welcome to GFS (KRS) upload
  </h1>

  <div class="row" *ngIf="!isAuthenticated">
    <div class="col text-center">
      <button routerLink="/auth" class="btn btn-primary" type="button">
        Login
      </button>
    </div>
  </div>

  <div class="row" *ngIf="isAuthenticated">
    <div class="col text-center align-self-end">
      <button routerLink="/tableChartGFS" class="btn btn-primary" type="button">
        Upload chart to GFS
      </button>
    </div>
    <div class="col text-center">
      <div class="col text-left">
        <input
          type="checkbox"
          name="upload"
          [checked]="uploadToGfsChecked"
          (change)="onChange($event)"
        />
        <label> Upload to GFS</label><br />
        <input
          type="checkbox"
          name="book"
          [checked]="bookInFebosChecked"
          (change)="onChange($event)"
        />
        <label> Book in FEBOS</label><br />
        <input
          type="checkbox"
          name="bookAndUpload"
          [checked]="bookInFebosAnduploadToGfsChecked"
          (change)="onChange($event)"
        />
        <label> Book in FEBOS and upload to GFS</label><br />
      </div>
      <button (click)="onClickedUpload()" class="btn btn-primary" value="Submit">
        Upload account
      </button>
    </div>
  </div>

  <div class="row" *ngIf="isAuthenticated">
    <div class="col text-center">
      <label>Registration Number: </label>
      <input type="text" /><br /><br />
    </div>
  </div>
</div>
