	<div class="container-fluid">
		<h3>GFS Upload Excel File</h3>
	  
		<div class="form-group">
			<input
			type="file"
			name="files"
			class="form-control"
			#uploads
			(change)="onFileChange($event)"
			multiple
			value="process"
		  />
		</div>


		<p *ngIf="loading">Loading...</p>
	  
		<div class="table-responsive">
			<table class="table table-bordered">
			  <thead>
				<tr>
					<th>Accounting date</th>
					<th>Registration No</th>
					<th>IDKT</th>
					<th>Original IDKT</th>
					<th>Counter Account IDKT</th>
					<th>Text</th>
					<th>Project code</th>
					<th>Currency</th>
					<th>Balance</th>
				</tr>
			  </thead>
			  <tbody>
					
				<tr *ngFor="let record of data">
				  <td [ngStyle]="(record.errors.AccountingDate.length > 0) && {'background-color': 'red'}">{{ record.AccountingDate }}</td>
				  <td [ngStyle]="(record.errors.RegistrationNo.length > 0) && {'background-color': 'red'}">{{ record.RegistrationNo }}</td>
				  <td [ngStyle]="(record.errors.IDKT.length > 0) && {'background-color': 'red'}">{{ record.IDKT }}</td>
				  <td [ngStyle]="(record.errors.OriginalIDKT.length > 0) && {'background-color': 'red'}">{{ record.OriginalIDKT }}</td>
				  <td [ngStyle]="(record.errors.CounterAccountIDKT.length > 0) && {'background-color': 'red'}">{{ record.CounterAccountIDKT }}</td>
				  <td [ngStyle]="(record.errors.Text.length > 0) && {'background-color': 'red'}">{{ record.Text }}</td>
				  <td [ngStyle]="(record.errors.ProjectCode.length > 0) && {'background-color': 'red'}">{{ record.ProjectCode }}</td>
				  <td [ngStyle]="(record.errors.Currency.length > 0) && {'background-color': 'red'}">{{ record.Currency }}</td>
				  <td [ngStyle]="(record.errors.Balance.length > 0) && {'background-color': 'red'}">{{ record.Balance }}</td>
				</tr>
			  </tbody>
			</table>
		  </div>
	  </div>
	  