	<div class="container-fluid">
		<h3>Excel File</h3>
	  
		<div class="form-group">
			<input
			type="file"
			name="files"
			class="form-control"
			#uploads
			(change)="onFileChange($event)"
			multiple
			value="process"
		  />
		</div>


		<p *ngIf="loading">Loading...</p>

		<button class="btn btn-danger" (click)="onClickShowErros()">
			Show Errors
		  </button>
		  <p>

		<div class="table-responsive">
			<table class="table table-bordered">
			  <thead>
				<tr>
					<th>Accounting date</th>
					<th>Registration No</th>
					<th>IDKT</th>
					<th>Original IDKT</th>
					<th>Counter Account IDKT</th>
					<th>Text</th>
					<th>Project code</th>
					<th>Currency</th>
					<th>Balance</th>
				</tr>
			  </thead>
			  <tbody>
					
				<tr *ngFor="let record of data">
				  <td [appErrorNotification]="record.errors.AccountingDate">{{ record.AccountingDate }}</td>
				  <td [appErrorNotification]="record.errors.RegistrationNo">{{ record.RegistrationNo }}</td>
				  <td [appErrorNotification]="record.errors.IDKT">{{ record.IDKT }}</td>
				  <td [appErrorNotification]="record.errors.OriginalIDKT">{{ record.OriginalIDKT }}</td>
				  <td [appErrorNotification]="record.errors.CounterAccountIDKT">{{ record.CounterAccountIDKT }}</td>
				  <td [appErrorNotification]="record.errors.Text">{{ record.Text }}</td>
				  <td [appErrorNotification]="record.errors.ProjectCode">{{ record.ProjectCode }}</td>
				  <td [appErrorNotification]="record.errors.Currency">{{ record.Currency }}</td>
				  <td [appErrorNotification]="record.errors.Balance">{{ record.Balance }}</td>
				</tr>
			  </tbody>
			</table>
		  </div>
	  </div>
	  