<div class="container-fluid">
  <h3>Upload Chart to GFS</h3>

  <div class="form-group">
    <input
      type="file"
      name="files"
      class="form-control"
      #uploads
      (change)="onFileChange($event)"
      multiple
      value="process"
    />
  </div>

  <button
    *ngIf="dataList.length > 0 && areErrors"
    class="btn btn-danger"
    (click)="onClickShowErros()"
  >
    Show Errors
  </button>

  <div class="divider"></div>
  <button class="btn btn-primary" (click)="onClickSendToAPI()">
    Send to API
  </button>
  <p></p>

  <div class="alert alert-success" role="alert" *ngIf="backendReceivedData">
    Success
  </div>

  <p *ngIf="loading">Loading...</p>

  <h1 *ngIf="dataList.length > 0 && areErrors">
    Correct your data and reupload it
  </h1>

  <div *ngIf="dataList.length > 0" class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Dato</th>
          <th>RegNr</th>
          <th>regnskabstype</th>
          <th>dkkbass</th>
          <th>skema_id</th>
          <th>skemarakke</th>
          <th>valutakod</th>
          <th>ldkd</th>
          <th>kngr</th>
          <th>kngr_typ</th>
          <th>sum_rgopid</th>
          <th>pdst</th>
          <th>opdater_lev</th>
          <th>leveran_kor</th>
          <th>leveran_type</th>
          <th>saldo</th>
          <th>Tekst</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of dataList">
          <td>
            <app-table-data-cell
              [errors]="record.errors.Dato"
              [data]="record.Dato"
            ></app-table-data-cell>
          </td>
          <td>
            <app-table-data-cell
              [errors]="record.errors.RegNr"
              [data]="record.RegNr"
            ></app-table-data-cell>
          </td>
          <td>
            <app-table-data-cell
              [errors]="record.errors.regnskabstype"
              [data]="record.regnskabstype"
            ></app-table-data-cell>
          </td>
          <td>
            <app-table-data-cell
              [errors]="record.errors.dkkbass"
              [data]="record.dkkbass"
            ></app-table-data-cell>
          </td>
          <td>
            <app-table-data-cell
              [errors]="record.errors.skema_id"
              [data]="record.skema_id"
            ></app-table-data-cell>
          </td>
          <td>
            <app-table-data-cell
              [errors]="record.errors.skemarakke"
              [data]="record.skemarakke"
            ></app-table-data-cell>
          </td>
          <td>
            <app-table-data-cell
              [errors]="record.errors.valutakod"
              [data]="record.valutakod"
            ></app-table-data-cell>
          </td>
          <td>
            <app-table-data-cell
              [errors]="record.errors.ldkd"
              [data]="record.ldkd"
            ></app-table-data-cell>
          </td>
          <td>
            <app-table-data-cell
              [errors]="record.errors.kngr"
              [data]="record.kngr"
            ></app-table-data-cell>
          </td>
          <td>
            <app-table-data-cell
              [errors]="record.errors.kngr_typ"
              [data]="record.kngr_typ"
            ></app-table-data-cell>
          </td>
          <td>
            <app-table-data-cell
              [errors]="record.errors.sum_rgopid"
              [data]="record.sum_rgopid"
            ></app-table-data-cell>
          </td>
          <td>
            <app-table-data-cell
              [errors]="record.errors.pdst"
              [data]="record.pdst"
            ></app-table-data-cell>
          </td>
          <td>
            <app-table-data-cell
              [errors]="record.errors.opdater_lev"
              [data]="record.opdater_lev"
            ></app-table-data-cell>
          </td>
          <td>
            <app-table-data-cell
              [errors]="record.errors.leveran_kor"
              [data]="record.leveran_kor"
            ></app-table-data-cell>
          </td>
          <td>
            <app-table-data-cell
              [errors]="record.errors.leveran_type"
              [data]="record.leveran_type"
            ></app-table-data-cell>
          </td>
          <td>
            <app-table-data-cell
              [errors]="record.errors.saldo"
              [data]="record.saldo"
            ></app-table-data-cell>
          </td>
          <td>
            <app-table-data-cell
              [errors]="record.errors.Tekst"
              [data]="record.Tekst"
            ></app-table-data-cell>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- https://stackblitz.com/edit/angular-csv-parser?file=app%2Fapp.component.html -->
</div>
