/* You can add global styles to this file, and also import other style files */
.row {
    margin: 70px 70px;
}

td {
    padding:0 !important;
    font-size:0.7em;
}

th {
    padding:0 !important;
}

